<link href="~/css/Style.css" rel="stylesheet" />


@{
    ViewBag.Title = "Како Да Платам Сметки";
}


<main>
    <div class="nlb-background p-5 pb-2">
        <div class="container body-content text-center">
            <h1 class="p-3">
                Како да платам сметки ?
            </h1>
            <p class="pb-3">
                Почитувани, Преку Интернет страната за Е‐Банкарство за Население на НЛБ банка – <a href="https://www.nlbklik.com.mk/LoginModule/LoginUP.aspx?ReturnUrl=%2Fdefault.aspx#">www.nlbklik.com.mk</a>, можете да извршите плаќање на сите Ваши режиски трошоци (ЕВН Македонија, T‐Home, T‐Mobile, ONE, VIP, Водовод и канализација – Скопје, Топлификација – Скопје), во кое било време од денот – од 00 до 24h.
            </p>
            <p>
                Овие налози се достапни на менито Плаќања > Режиски Трошоци
            </p>
            <img src="~/images/1.png" class="img25" />
            <p class="p-3">На секој налог имате на располагање како помош слика со упатство како треба да се пополни налогот.</p>
            <img src="~/images/2.png" class="img50"/>
            <p class="p-3">со клик на копчето "Доколки ви е потребна помош при пополнување кликнете овде" ви се прикажуваат инструкции за пополнување на налогот</p>
            <img src="~/images/3.png" class="img50"/>
            <p class="pt-5">
                За да може да ги извршите овие плаќања, потребно е да имате м-Токен со право на трансакции,
            </p>
        </div>
    </div>
    <style>
        
        img {
            width: 50%;
            height: auto;
        }
    </style>
</main>