
@{
    ViewBag.Title = "Pravila_bezbedno_koristenje";
}

<link href="~/css/Style.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<main>
    <div class="nlb-background p-5 pb-2">
        <div class="container body-content text-start">
            <h1 class="p-3 text-center">
                Правила за безбедно користење на НЛБ Проклик и заштита од
                злоупотреба
            </h1>

            <div class="row pb-5 justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-6 pb-sm-4 pb-md-3">
                    <div class="list-group text-center" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-q1-list" data-bs-toggle="list" href="#list-q1" role="tab" aria-controls="list-q1s"><p class="m-0 nlb_color">Дигитална сертификација за безбедни трансакции со NLB ProClick</p></a>
                        <a class="list-group-item list-group-item-action " id="list-q2-list" data-bs-toggle="list" href="#list-q2" role="tab" aria-controls="list-q2"><p class="m-0 nlb_color">Безбедно ракување со USB токени и паметни картички за NLB ProClick</p></a>
                        <a class="list-group-item list-group-item-action" id="list-q3-list" data-bs-toggle="list" href="#list-q3" role="tab" aria-controls="list-q3"><p class="m-0 nlb_color">Безбедност на лозинка за корисници на NLB ProClick</p></a>
                        <a class="list-group-item list-group-item-action" id="list-q4-list" data-bs-toggle="list" href="#list-q4" role="tab" aria-controls="list-q4"><p class="m-0 nlb_color">Побарана ваша лозинка преку телефон</p></a>
                        <a class="list-group-item list-group-item-action" id="list-q5-list" data-bs-toggle="list" href="#list-q5" role="tab" aria-controls="list-q5"><p class="m-0 nlb_color">Складирање na USB Токен и Лозинки</p></a>
                        <a class="list-group-item list-group-item-action" id="list-q6-list" data-bs-toggle="list" href="#list-q6" role="tab" aria-controls="list-q6"><p class="m-0 nlb_color">Пристап до НЛБ Проклик</p></a>
                        <a class="list-group-item list-group-item-action" id="list-q7-list" data-bs-toggle="list" href="#list-q7" role="tab" aria-controls="list-q7"><p class="m-0 nlb_color">Автоматско заклучување</p></a>
                        <a class="list-group-item list-group-item-action" id="list-q8-list" data-bs-toggle="list" href="#list-q8" role="tab" aria-controls="list-q8"><p class="m-0 nlb_color">Безбедносни мерки за компјутерско сервисирање и далечински пристап</p></a>
                        <a class="list-group-item list-group-item-action" id="list-q9-list" data-bs-toggle="list" href="#list-q9" role="tab" aria-controls="list-q9"><p class="m-0 nlb_color">Сомнеж за злоупотреба или губење на сертификатот </p></a>
                    </div>
                </div>
                <div class=" col-lg-7 col-md-6 col-sm-12 bg-light bg-gradient bg-opacity-75">
                    <div class="m-lg-5 m-md-3 ms-0 ">
                        <div class="tab-content h-100 " id="nav-tabContent">
                            <div class="tab-pane fade show active " id="list-q1" role="tabpanel" aria-labelledby="list-q1-list">
                                <p>
                                    Секој корисник (овластено лице) за работење со НЛБ Проклик апликацијата користи
                                    дигитален сертификат сместен на USB токен / Smart картичка. Секој дигитален
                                    сертификат гласи на име и презиме на корисникот. Тоa е негова електронска лична
                                    карта со која се најавува во апликацијата и дигитално ги потпишува налозите во
                                    платниот промет реализирани преку НЛБ Проклик апликацијата.
                                </p>
                            </div>

                            <div class="tab-pane fade" id="list-q2" role="tabpanel" aria-labelledby="list-q2-list">
                                <p>
                                    USB токенот / Smart картичкатаx никогаш не треба да се остава во компјутерот / читачот
                                    без надзор. Истите треба да се стават само кога активно се користи НЛБ Проклик
                                    апликацијата. По завршување на работењето, потребно е да се затвори апликацијата,
                                    да се отстрани USB токенот од компјутерот или Smart картичката од читачот и истите
                                    да се остават на безбедно место на кое само овластеното лице има пристап.
                                </p>
                            </div>

                            <div class="tab-pane fade" id="list-q3" role="tabpanel" aria-labelledby="list-q3-list">
                                <p>
                                    Лозинката за користење на НЛБ Проклик апликацијата треба да му биде позната само
                                    на овластеното лице/корисник на USB токенот / Smart картичката. Лозинката е потребно
                                    да се менува во редовни временски интервали, најмалку еднаш месечно.
                                </p>
                            </div>

                            <div class="tab-pane fade" id="list-q4" role="tabpanel" aria-labelledby="list-q4-list">
                                <p>
                                    Доколку Ви биде побарана Вашата лозинка преку телефон, е-mail или друг електронски
                                    канал од име на Банката, не ја кажувајте истата и веднаш пријавете го случајот на
                                    телефонот за корисничка поддршка: 15-600.
                                </p>
                            </div>

                            <div class="tab-pane fade" id="list-q5" role="tabpanel" aria-labelledby="list-q5-list">
                                <p>
                                    Не е препорачливо да се чуваат заедно на едно место USB токенот / Smart картичката
                                    и лозинката за пристап до НЛБ Проклик апликацијата.
                                </p>
                            </div>

                            <div class="tab-pane fade" id="list-q6" role="tabpanel" aria-labelledby="list-q6-list">
                                <p>
                                    Пристапот до компјутерот, на кој е инсталирана НЛБ Проклик апликацијата, треба да им
                                    биде дозволен само на овластените лица одредени од носителот на дигиталниот
                                    сертификат.
                                </p>
                            </div>

                            <div class="tab-pane fade" id="list-q7" role="tabpanel" aria-labelledby="list-q7-list">
                                <p>
                                    Потребно е да се сетира компјутерот самиот да се заклучува автоматски по неколку
                                    минути некористење на истиот.
                                </p>
                            </div>

                            <div class="tab-pane fade " id="list-q8" role="tabpanel" aria-labelledby="list-q8-list">
                                <p>
                                    Препорачливо е да се избегнува работење на компјутерот преку т.н. Remote конекции.
                                    Кога компјутерот се носи на сервис, не треба да се дозволува користење на USB
                                    токенот / Smart картичката од страна на неовластени лица. Доколку сервисерот Ви
                                    помага при користење и надградба на НЛБ Проклик апликацијата задолжително бидете
                                    присутен и лозинката внесете ја сами.
                                </p>
                            </div>

                            <div class="tab-pane fade align-items-center" id="list-q9" role="tabpanel" aria-labelledby="list-q9-list">
                                <p>
                                    Во случај на сомневање за злоупотреба или при губење на сертификатот веднаш
                                    обратете се до најблиската експозитура на Банката или телефонски известете ја
                                    Службата за корисничка поддршка користејки го бројот 15 600.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .active p {
            color: #482f94;
        }

        .list-group-item {
            background-color: none !important;
        }



            .list-group-item.active {
                z-index: 2;
                color: #a1a2a4;
                background-color: #b7b8ba;
                border-color: #b7b8ba;
            }
    </style>

</main>