
@{
    ViewBag.Title = "Savings";
}

<link href="~/css/Style.css" rel="stylesheet" />
<main>
    <div class="nlb-background p-5 pb-2">
        <div class="container body-content text-center">
            <h1 class="p-3">
                Уплата на постепено штедење
            </h1>
            <p>
                Доколку сте корисник на услугата на Постепено штедење на НЛБ Тутунска банка, отсега,
                уплатите на партијата за постепено штедење можете да ги направите и преку страната 
                за Е‐Банкарство за Население на НЛБ Тутунска банка <a href="nlbklik.com.mk"></a>
            </p>
            <p class="pb-3">
                За да направите трансфер на средства од Вашата трансакциска сметка на Вашата штедна сметка од тип – постепено штедење,
                од менито плаќање одберете Интерна трансакција. 
             <p/>
             <img src="~/images/Mtoken/internal_transactions_1.png" style="width:35%" class="pb-3"/>

             <p>
                 Потоа одберете ја сметката на Вашата штедна книшка и внесете го износот кој сакате да го уплатите.
                 За овој вид на уплата постои минимален износ на трансакција 15 EUR или 1000 ден. Валутата на трансакциската и штедната мора да се исти

             </p>
             <img src="~/images/Mtoken/internal_transactions_2.png" class="pb-3"/>
            <p>
                За да може да ги извршите овие плаќања, потребно е да бидете пријавен корисник на електронското банкарство со избран пакет макси клик со право на трансакции,
                мКлик со право на плаќање или мТокен со право на плаќање
            </p>
            
        </div>
    </div>
    <style>
        img {
            width: 75%;
            height: auto;
        }
    </style>
</main>